body {
    font-family: "Comic Sans MS";
    background: #0e0e0e;
    color: white;
}

main {
    font-family: "Comic Sans MS";
    width: 299px;
    height: 279px;
    background: #292931;
    margin-top: 146px;
    margin-left: 524px;
    border-radius: 20px;
}

.reg {
    display: inline-block;
    margin-top: 63px;
    margin-left: 33px;
    width: 233px;
    height: 113px;
    background: #423143;
    position: relative;
}


.textLog {
    font-family: "Comic Sans MS";
    display: block;
    width: 145px;
    height: 36px;
    padding: 0;
    margin: 18px 0 0 50px;
    border-radius: 3px;
    border: none;
    padding-left: 20px;
}

.textLog:focus {
    outline: none;
    border: none;
}

.textLog:hover {
    cursor: pointer;
}


.textLog {
    font-family: "Comic Sans MS";
    display: block;
    width: 145px;
    height: 36px;
    padding: 0;
    margin: 18px 0 0 50px;
    border-radius: 3px;
    border: none;
    padding-left: 20px;
}

.textLog:focus {
    outline: none;
    border: none;
}

.textLog:hover {
    cursor: pointer;
}

.logImg {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    background: #dedede;
    border-radius: 3px;
    top: 18px;
    left: 17px;
}

.textPass {
    font-family: "Comic Sans MS";
    display: block;
    width: 110px;
    height: 36px;
    padding: 0;
    margin: 9px 0 0 50px;
    border: none;
    padding-left: 20px;
    z-index: 5;

}

.textPass:focus {
    outline: none;
    border: none;
}

.textPass:hover {
    cursor: pointer;
}

.passImg {
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    background: #dedede;
    border-radius: 3px;
    top: 63px;
    left: 17px;
}

.go {
    font-family: "Comic Sans MS";
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 0px 3px 3px 0px;
    background: #ad6cac;
    top: 63px;
    left: 179px;
    z-index: 1;
}

.go:active{

    background: #835182;
}

.other {
    width: 265px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
}

.saveMe {
    margin-left: -123px;
    outline: none;
    border: none;
    display: none;
}

.saveMeLabel {
    float: left;
    position: relative;
    margin-left: 55px;
}

input:checked ~ .crest {
    display: block;
}

.notReg {
    float: right;
    margin-top: -22px;
}

.saveMeLabel::selection {
    background: transparent;
}

.notReg::selection {
    background: transparent;
}

.key {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 71px;
    left: 25px;
}

.person {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 28px;
    left: 27px;
}

.notReg {
    border: none;
    outline: none;
    color: white;
}

.other .saveMeLabel:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 5px;
    left: -20px;
    border: white 2px solid;
}

.crest {
    display: none;
    position: absolute;
    top: 7px;
    left: 37px;
}

.crest:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background: white;
    top: 4px;
    left: 0px;
    transform: rotate(45deg);
}

.crest:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background: white;
    top: 4px;
    left: 0px;
    transform: rotate(-45deg);
}
.wrong:before{
    position: relative;
    display: block;
    content: "Login or Password is wrong";
    font-size: 12px;
    margin-top: 18px;
    margin-left: 39px;
}
